@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Yofan Al Hafizh<br />
    Appiclation Developer<br />
    <abbr title="Phone">Phone:</abbr>
    081275962893
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:yofan.hafizh@gmail.com">Yofan.hafizh@gmail.com</a><br />
</address>