@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sorted Name Application</h1>
    <p class="lead">
        Build a name sorter. Given a set of names, order that set first by last name, then by any given names the person may have. A name must have at least 1 given name and may have up to 3 given names.
        Example Usage Given a file called unsorted-names-list.txt containing the following list of names.
        You can click this link to try
        @Html.ActionLink("Upload", "Index", "Uploads")
    </p>

</div>

<div class="row">


</div>